*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: antiquewhite;
}
.container{
    display: flex;
    width: 100vw;
}
.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-1{
    background-image: url(images/uwp4465749.jpeg);
}
.image-2{
    background-image: url(images/uwp4502474.jpeg);
}
.image-3{
    background-image: url(images/uwp4570428.png);
}
.image-4{
    background-image: url(images/uwp4573378.jpeg);
}
.image-5{
    background-image: url(images/wp11134600-anime-ps4-attack-on-titan-wallpapers.png);
}
.image-6{
    background-image: url(images/wp14240239-levi-dark-wallpapers.jpg);
}
.slide{
    position: relative;
    height: 80vh;
    flex: 0.5;
    border-radius: 50px;
    color: antiquewhite;
    margin: 10px;
    cursor: pointer;
    transition: all 700ms ease-in;
}
.slide h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 1;
    font-size: 24px;
}

@media (max-width: 480px) {
    .slide:nth-of-type(4),
    .slide:nth-of-type(5) {
        display: none;
    }
}




/*javascrpit*/
.slide.active{
    flex: 5;
}
.slide.active{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}